<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927655559374-l197t0ugos8jlt333hc2jpiqqpq7v246.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927655559374-l197t0ugos8jlt333hc2jpiqqpq7v246</string>
	<key>API_KEY</key>
	<string>AIzaSyDJrrXBmDqAvl-PD7iSPhLi4dbLb1FNW-g</string>
	<key>GCM_SENDER_ID</key>
	<string>927655559374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srujan.foodHunt</string>
	<key>PROJECT_ID</key>
	<string>foodhunt-1577035301784</string>
	<key>STORAGE_BUCKET</key>
	<string>foodhunt-1577035301784.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927655559374:ios:cae5ab19bf3b00bddb509f</string>
	<key>DATABASE_URL</key>
	<string>https://foodhunt-1577035301784.firebaseio.com</string>
</dict>
</plist>